@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hind:wght@700&family=Roboto+Slab:wght@400;500;900&display=swap');


    /*    font-family: 'Hind', sans-serif;
           font-family: 'Bree Serif', serif;    
           위 주소는 구글사이트에서 폰트 가져오기  */

body { 
    background-image: url("UK.jpg");
    background-size: cover;
    background-position: center;

    color: white;
}

.space {
    height: 10px;
}


.display {
font-size: 80px; 
font-weight:bold;
}

.greeting {
   font-size: 70px;
   font-weight:bold;
}

.accent {
    font-weight: bold;
    color:greenyellow;
    text-shadow: 2px 2px 1px black;
}
.todo {
    font-size: 50px;
    font-weight: bold;
}

.author {
    font-size: 35px;
    font-style: italic;
}

.content {
    font-size: 25px;
}

.main {
    width: 100vw;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub {
    width: 100vw;
    height: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}

article {
    width: 160px; height: 30px;
    background-image: url("03\ NAVER\ Logo_White.png");
    background-size: cover;
    margin: 1vh 3vh 10vh;
    /* border: 2px solid black; */
}

article:hover          /* 마우스를 올렸을때 나타나는 반응  */
{
    background-image: url("03\ NAVER\ Logo_Green.png");
    background-size: cover;
}